* {
      margin: 0;
      padding: 0;
}

.navbar {
      background-color: rgba(255, 255, 255, 0.701);
}

.navbar ul {
      display: flex;
      justify-content: flex-start;
      height: 100px;
      align-items: center;
      list-style: none;
      margin-left: 80px;
}

.navbar ul li {
      margin: 0 20px;
}

.navbar ul li a {
      text-decoration: none;
      color: black;
}

li:nth-child(2):hover {
      text-decoration: underline;
}

li:nth-child(3):hover {
      text-decoration: underline;
}

.list1 {
      box-shadow: 1px 1px 7px;
      padding: 10px 20px;
      transition: ease-in0.5s;
      border-radius: 10px;
}

.list:hover {
      background-color: blueviolet;
      color: black;
}

.carousel {
      height: 60vh;
      display: flex;
      justify-content: center;
      background-color: rgba(173, 167, 167, 0.734);
}

.head2 {
      margin-top: 150px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.carouselcard {
      margin: 20px;
      background-color: white;
      box-shadow: 5px 15px 5px black;
      height: 350px;
      width: 400px;
}

img {
      height: 200px;
      width: 100%;
}

.buy {
      display: flex;
      justify-content: space-between;
}

.buy1 {
      display: flex;
      justify-content: space-between;
}

.buy2 {
      display: flex;
      justify-content: space-between;
}

.buy3 {
      display: flex;
      justify-content: space-between;
}

button {
      padding: 10px 20px;
}

.subbtn {
      background-color: greenyellow;
      border: none;
      border-radius: 5px;
}

.intro {
      margin-left: 20px;
}